
body{
    background-color:var(--background-color);
}
form{
    width: 100%;
    max-width: 420px;
    min-width: 260px;
    box-shadow: 0 0 10px #0000003a;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*
 *Responsividade do título "Seja bem vindo", para evitar quebrar a linha
*/
@media(max-width:290px){
    .login-form h2{
        font-size: 1.2em;
    }
}

/**
 * Estilização da div dentro do formulário
 */
.login-form{
    margin: 13vh 40px;
}


/**
 * Estilização do parágrafo "Ou faça login com"
 */
.login-form p{
    display: flex;
    justify-content: center;
    gap: 3px;
}
#create-acc-div p{
    font-size: 15px;
}
#create-acc-div a{
    font-family: 'Inter';
    color: var(--darker-blue-color);
    text-decoration: none;
}
#create-acc-div a:hover{
    color:#015db9;
    text-decoration: underline;
}
/**
* Estilização do título "Seja bem vindo"
*/
.login-form h2{
    color: var(--blue-color);
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    font-family: 'Inter', sans-serif;

}


/**
 * Estilização dos parágrafos de mensagem de erro
 * Por baixo das input boxes quando o usuário deixar
 * os campos vazios.
 *
 */
#password-error-msg-p,#email-error-msg-p{
    color:var(--red-color);
    display: none;
    margin: -2% 0;
    font-size: 13px;
}

#forgot-password-link {
    display: none;
    justify-content: start;
    font-size: 14px;
}
#forgot-password-link a{
    margin-left: 10px;
    margin-bottom: -15px;
    text-decoration: none;
    color: var(--darker-blue-color);
}
#forgot-password-link a:hover{
    color: #015db9;
    text-decoration: underline;
}


/**
* A classe que estiliza as input boxes de
* de E-mail e Senha
*/
.user-data{
    padding-left: 3%;
    background-color: var(--light-grey-color);
    width: 100%;
    max-width: 350px;
    height: 35px;
    margin: 7% 0 4.5% 0;
    display: block;
    border-width: 7px;
    border-color: var(--blue-color);
    border-top: none;
    border-right: none;
    border-bottom: none;
    transition: border-color 350ms;
}

/**
 * Estilização da div que compõe "OU,barras"
 */
.or-divider{
    margin: 7% 0;
    justify-content: center;
}


/**
 * Estilização das barras "OU"
 */
.or-divider hr{
    display: inline-block;
    width: 45%;
    max-width: 100%;
}
/**
 * Responsividade das barras "OU"...ignore essa bagunça kkk
 */
@media (max-width:408px){.or-divider hr {width: 43%;}}
@media (max-width:314px){.or-divider hr {width: 40%;}}


/**
 * Estilização dos botões opcionais de
 * de Login
 */
.continue-buttons{
    justify-content: start;
    align-items: center;
    display: flex;
    width: 100%;
    cursor: pointer;
    max-width: 350px;
    height: 40px;
    margin: 7% 0 4.5% 0;
    transition: 250ms;
}

/**
 * Estilização dos ícones dos botões opcionais de login
 */
.continue-buttons svg{margin-left: 15px;}

/**
 * Estilizações do Ícone da google
 */
#google-login-button{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #7777778c;
}
#google-login-button svg{margin-right: 6%;}
#google-login-button:hover{background-color: #c7c7c7;}


/*Botão "Entrar" */
#user-submit-button{
    width: 100%;
    max-width: 350px;
    border-style: none;
    color:var(--white-color);
    background-color: var(--blue-color);
    height: 40px;
    margin: 9% 0 4.5% 0;
    display: block;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}
#user-submit-button::before{
    content: '';

}


/*Botão "Entrar" */
#user-submit-button:hover{background-color: var(--darker-blue-color);}



/**
 *Remove A linha em todos os input boxes quando focar neles
 */
input:focus{outline: none;}